
.color-primary-0 { color: #CFDFEBff }	
.color-primary-1 { color: #636656ff }
.color-primary-2 { color: #2055A4ff }
.color-primary-3 { color: #D5A421ff }
.color-primary-4 { color: #253C4Cff }
.font-fancy { font-family: 'Vollkorn', serif;}
.font-text { font-family: 'Montserrat', sans-serif;}

* {
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    text-align: center;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #2055A4a3;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
    font-family: 'Vollkorn', serif;
}

.logo a:hover{
    color: #fff;
}
nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-size: 90%;
    margin: 0 10px;
    color: black;
}
nav a:hover{
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(https://images.unsplash.com/photo-1503424886307-b090341d25d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80);
    background-size: cover;
    background-position: center center;
}
.banner-area h2{
    padding: 8%;
    font-size: 400%;
    font-family: 'Vollkorn', serif;
    color: #fff;

}
.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #fff;
    height: auto;
}

.content-area h2{
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 125%;
    margin: 0;
}
.content-area p{
    padding: 2% 0;
    line-height: 30px;
}

.column {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    float: left;
    width: 33.33%;
    background-color: #fff;
    text-decoration: none;
}

.column p:hover{
    color: #2055A4ff;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

